node-red Flow/Denon AVR Flow.json
[
   {
      "id":"916a3c6c.70e478",
      "type":"tab",
      "label":"DenonAVR",
      "disabled":false,
      "info":""
   },
   {
      "id":"73110c6b.2071ac",
      "type":"debug",
      "z":"916a3c6c.70e478",
      "name":"From Denon",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":830,
      "y":560,
      "wires":[
         
      ]
   },
   {
      "id":"39736932.d0b46e",
      "type":"mqtt in",
      "z":"916a3c6c.70e478",
      "name":"MQTT Brain",
      "topic":"meta/Denon AVR/#",
      "qos":"2",
      "datatype":"auto",
      "broker":"920bfa37.0c7b9",
      "x":90,
      "y":140,
      "wires":[
         [
            "708a73bc.c1ee24"
         ]
      ]
   },
   {
      "id":"708a73bc.c1ee24",
      "type":"function",
      "z":"916a3c6c.70e478",
      "name":"Split input",
      "func":"var output = msg.topic.split(\"/\");\nvar name_meta = output[0];\nvar device = output[1];\nvar deviceid = output[2];\nvar command_type = output[3]; \nvar button = output[4];\nreturn {\n//      button: msg.topic.slice(32 , 99)\n        name_meta: output[0],\n        devicename: output[1],\n        deviceid: output[2],\n        command_type: output[3], \n        button: output[4]\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":240,
      "y":140,
      "wires":[
         [
            "318ca39d.79c9e4"
         ]
      ]
   },
   {
      "id":"318ca39d.79c9e4",
      "type":"switch",
      "z":"916a3c6c.70e478",
      "name":"Switch input",
      "property":"button",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"PLAY",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PAUSE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"STOP",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CURSOR",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PAGE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"VOLUME",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"MENU",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CHANNEL",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"BACK",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"SUBTITLE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"LANGUAGE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"POWER",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"OSD",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"INPUT",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"SUR:",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PRESET",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":16,
      "x":430,
      "y":140,
      "wires":[
         [
            
         ],
         [
            
         ],
         [
            
         ],
         [
            "7dfb7deb.7a0f04"
         ],
         [
            
         ],
         [
            "85fbce1c.43ae28"
         ],
         [
            "a3d7d3af.3e4dd8"
         ],
         [
            "6e5ce90f.fcbf2",
            "add7f196.79d5c8"
         ],
         [
            "a3d7d3af.3e4dd8"
         ],
         [
            
         ],
         [
            
         ],
         [
            "228bf05b.1bbe8"
         ],
         [
            
         ],
         [
            "7946bfe9.ad715"
         ],
         [
            "5f1f8f97.656a8"
         ],
         [
            "add7f196.79d5c8"
         ]
      ]
   },
   {
      "id":"85fbce1c.43ae28",
      "type":"function",
      "z":"916a3c6c.70e478",
      "name":"SetVolume ",
      "func":"\nvar output = msg.button.split(\" \");\nvar SetVol = \"MV\"+output[1];\n\n\n\nreturn  {\n    \"topic\": SetVol,\n        \"payload\" : 1\n}\n\n\nreturn  {\n    payload: SetVol\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":630,
      "y":127,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"6e5ce90f.fcbf2",
      "type":"function",
      "z":"916a3c6c.70e478",
      "name":"Channel",
      "func":"\nvar output = msg.button.split(\" \");\nvar SetVol = \"MV\"+output[1];\nSetVol = output[1];\nreturn  {\n    \"topic\": \"MV\", payload: SetVol\n//        \"payload\" : \"\"\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":620,
      "y":200,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"228bf05b.1bbe8",
      "type":"function",
      "z":"916a3c6c.70e478",
      "name":"Power",
      "func":"\nvar output = msg.button.split(\" \");\nvar SetPower = \"\";\nif (output[1] == \"ON\") \n    SetPower = \"PWON\"\nelse\n    SetPower = \"PWSTANDBY\"\nreturn  {\n    \"topic\": SetPower, payload: \"\",setpower:output[1]\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":240,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"7dfb7deb.7a0f04",
      "type":"function",
      "z":"916a3c6c.70e478",
      "name":"Cursor",
      "func":"MyDirection=msg.button.slice(7,99)\nMyDirection = MyDirection.toLowerCase()\nvar MyCommand = \"MN\" \n\n\nif (MyDirection == \"enter\" )  \n    MyCommand = \"MNENT\"\nelse\nif (MyDirection == \"down\" ) \n    MyCommand = \"MNCDN\"\nelse\nif (MyDirection == \"up\" ) \n    MyCommand = \"MNCUP\"\nelse\nif (MyDirection == \"left\" ) \n    MyCommand = \"MNCLT\"\nelse\nif (MyDirection == \"right\" ) \n    MyCommand = \"MNCRT\"\n\n\nreturn {payload: \"\", topic:  MyCommand, MyCommand: MyDirection}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":100,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"a3d7d3af.3e4dd8",
      "type":"function",
      "z":"916a3c6c.70e478",
      "name":"Menu",
      "func":"var MyCommand = \"MN\" \n\n\nif (msg.button == \"BACK\" )  \n    MyCommand = \"MNMEN OFF\"\nelse\n    MyCommand = \"MNMEN ON\"\nreturn {topic: MyCommand,payload: \"\"}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":160,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"7946bfe9.ad715",
      "type":"function",
      "z":"916a3c6c.70e478",
      "name":"Input",
      "func":"MySource=msg.button.slice(6,99)\nMySource = MySource.toLowerCase()\nvar MyCommand = \"\" \n\nif (MySource == \"tuner\") \n   MyCommand = \"SITUNER\"\nelse\nif (MySource == \"tv\") \n   MyCommand = \"SITV/CBL\"\n else\n if (MySource == \"phono\") \n   MyCommand = \"SIPHONO\"\n else\n if (MySource == \"cd\") \n   MyCommand = \"SICD\"\n else\n if (MySource == \"dvd\") \n   MyCommand = \"SIDVD\"\n else\n if (MySource == \"hdp\") \n   MyCommand = \"SIHDP\"\n else\n if (MySource == \"sat\") \n   MyCommand = \"SISAT\"\n else\n if (MySource == \"vcr\") \n   MyCommand = \"SIVCR\"\n else\n  if (MySource == \"dvr\") \n   MyCommand = \"SIDVR\"\n else\n  if (MySource == \"v.aux\") \n   MyCommand = \"SIV.AUX\"\n else\n  if (MySource == \"net\") \n   MyCommand = \"SINET\"\n else\n  if (MySource == \"xm\") \n   MyCommand = \"SIXM\"\n else\n  if (MySource == \"ipod\") \n   MyCommand = \"SIIPOD\"\n else\n   return null\n   \nreturn {payload: \"\", topic: MyCommand, mypart: MySource}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":280,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"b13a9b7d.ef91f",
      "type":"denon-out",
      "z":"916a3c6c.70e478",
      "name":"Denon in",
      "controller":"2092045d.79fbb4",
      "unit_number":"1",
      "output":"1",
      "denoncommand":"",
      "x":940,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"d630ffc8.41ccd",
      "type":"denon-in",
      "z":"916a3c6c.70e478",
      "name":"Denon-out",
      "controller":"2092045d.79fbb4",
      "x":600,
      "y":560,
      "wires":[
         [
            "73110c6b.2071ac"
         ]
      ]
   },
   {
      "id":"5f1f8f97.656a8",
      "type":"function",
      "z":"916a3c6c.70e478",
      "name":"Surround",
      "func":"//var MyMode=msg.button.slice(7,99)\nvar MyButton = msg.button.split(\":\");\nvar MyMode = MyButton[1].toUpperCase()\nvar MyCommand = \"MS\"+MyMode \n\n\nreturn  {\n    \"topic\": MyCommand,payload: \"\"\n}\n\n\nreturn {payload: MyCommand\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":621,
      "y":322,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"add7f196.79d5c8",
      "type":"function",
      "z":"916a3c6c.70e478",
      "name":"Preset",
      "func":"//var MyMode=msg.button.slice(7,99)\nvar MyButton = msg.button.split(\" \");\nvar MyMode = MyButton[1].toUpperCase()\nvar MyCommand = \"TPAN\"+MyMode \n\n\nreturn {payload: MyCommand\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":360,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"4791b844.c0fd8",
      "type":"inject",
      "z":"916a3c6c.70e478",
      "name":"CheckPWR",
      "props":[
         {
            "p":"payload"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"PW?",
      "payloadType":"str",
      "x":460,
      "y":500,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"3b29f17b.879146",
      "type":"inject",
      "z":"916a3c6c.70e478",
      "name":"CheckSurround",
      "props":[
         {
            "p":"payload"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"MS?",
      "payloadType":"str",
      "x":472,
      "y":461,
      "wires":[
         [
            "b13a9b7d.ef91f"
         ]
      ]
   },
   {
      "id":"920bfa37.0c7b9",
      "type":"mqtt-broker",
      "name":"Spare neeo brain",
      "broker":"127.0.0.1",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   },
   {
      "id":"2092045d.79fbb4",
      "type":"denon-controller",
      "name":"Denon-Living",
      "host":"192.168.0.28",
      "port":"23"
   }
]