node-red Flow/DenonAVRFlow.json
[
   {
      "id":"4cd6264a.5af948",
      "type":"tab",
      "label":"DenonAVR",
      "disabled":false,
      "info":""
   },
   {
      "id":"955a60a5.a799b",
      "type":"debug",
      "z":"4cd6264a.5af948",
      "name":"From Denon",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":830,
      "y":560,
      "wires":[
         
      ]
   },
   {
      "id":"eac53042.e7f448",
      "type":"mqtt in",
      "z":"4cd6264a.5af948",
      "name":"MQTT Brain",
      "topic":"meta/DenonAVR/#",
      "qos":"2",
      "datatype":"auto",
      "broker":"920bfa37.0c7b9",
      "x":90,
      "y":140,
      "wires":[
         [
            "1e26046a.4564ac"
         ]
      ]
   },
   {
      "id":"1e26046a.4564ac",
      "type":"function",
      "z":"4cd6264a.5af948",
      "name":"Split input",
      "func":"var output = msg.topic.split(\"/\");\nvar name_meta = output[0];\nvar device = output[1];\nvar deviceid = output[2];\nvar command_type = output[3]; \nvar button = output[4];\nreturn {\n//      button: msg.topic.slice(32 , 99)\n        name_meta: output[0],\n        devicename: output[1],\n        deviceid: output[2],\n        command_type: output[3], \n        button: output[4]\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":240,
      "y":140,
      "wires":[
         [
            "9a933e41.e0a858"
         ]
      ]
   },
   {
      "id":"9a933e41.e0a858",
      "type":"switch",
      "z":"4cd6264a.5af948",
      "name":"Switch input",
      "property":"button",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"PLAY",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PAUSE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"STOP",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CURSOR",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PAGE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"VOLUME",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"MENU",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CHANNEL",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"BACK",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"SUBTITLE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"LANGUAGE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"POWER",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"OSD",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"INPUT",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"SUR:",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"PRESET",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":16,
      "x":430,
      "y":140,
      "wires":[
         [
            
         ],
         [
            
         ],
         [
            
         ],
         [
            "fd404655.eda1"
         ],
         [
            
         ],
         [
            "4f36f73b.36a8"
         ],
         [
            "fab8a689.8587f"
         ],
         [
            "231a30b9.04d5b8",
            "7f25a637.8d1158"
         ],
         [
            "fab8a689.8587f"
         ],
         [
            
         ],
         [
            
         ],
         [
            "7ec0150f.279f1c"
         ],
         [
            
         ],
         [
            "e453d2af.1a38b"
         ],
         [
            "e0cc222b.6b7ee"
         ],
         [
            "7f25a637.8d1158"
         ]
      ]
   },
   {
      "id":"4f36f73b.36a8",
      "type":"function",
      "z":"4cd6264a.5af948",
      "name":"SetVolume ",
      "func":"\nvar output = msg.button.split(\" \");\nvar SetVol = \"MV\"+output[1];\n\n\n\nreturn  {\n    \"topic\": SetVol,\n        \"payload\" : 1\n}\n\n\nreturn  {\n    payload: SetVol\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":630,
      "y":127,
      "wires":[
         [
            "20e3e7ea.3bbb8",
            "12766499.fd9ebb"
         ]
      ]
   },
   {
      "id":"12766499.fd9ebb",
      "type":"debug",
      "z":"4cd6264a.5af948",
      "name":"ToDenon",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":960,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"231a30b9.04d5b8",
      "type":"function",
      "z":"4cd6264a.5af948",
      "name":"Channel",
      "func":"\nvar output = msg.button.split(\" \");\nvar SetVol = \"MV\"+output[1];\nSetVol = output[1];\nreturn  {\n    \"topic\": \"MV\", payload: SetVol\n//        \"payload\" : \"\"\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":620,
      "y":200,
      "wires":[
         [
            "12766499.fd9ebb",
            "20e3e7ea.3bbb8"
         ]
      ]
   },
   {
      "id":"7ec0150f.279f1c",
      "type":"function",
      "z":"4cd6264a.5af948",
      "name":"Power",
      "func":"\nvar output = msg.button.split(\" \");\nvar SetPower = \"\";\nif (output[1] == \"ON\") \n    SetPower = \"PWON\"\nelse\n    SetPower = \"PWSTANDBY\"\nreturn  {\n    \"topic\": SetPower, payload: \"\",setpower:output[1]\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":240,
      "wires":[
         [
            "12766499.fd9ebb",
            "20e3e7ea.3bbb8"
         ]
      ]
   },
   {
      "id":"fd404655.eda1",
      "type":"function",
      "z":"4cd6264a.5af948",
      "name":"Cursor",
      "func":"MyDirection=msg.button.slice(7,99)\nMyDirection = MyDirection.toLowerCase()\nvar MyCommand = \"MN\" \n\n\nif (MyDirection == \"enter\" )  \n    MyCommand = \"MNENT\"\nelse\nif (MyDirection == \"down\" ) \n    MyCommand = \"MNCDN\"\nelse\nif (MyDirection == \"up\" ) \n    MyCommand = \"MNCUP\"\nelse\nif (MyDirection == \"left\" ) \n    MyCommand = \"MNCLT\"\nelse\nif (MyDirection == \"right\" ) \n    MyCommand = \"MNCRT\"\n\n\nreturn {payload: \"\", topic:  MyCommand, MyCommand: MyDirection}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":100,
      "wires":[
         [
            "12766499.fd9ebb",
            "20e3e7ea.3bbb8"
         ]
      ]
   },
   {
      "id":"fab8a689.8587f",
      "type":"function",
      "z":"4cd6264a.5af948",
      "name":"Menu",
      "func":"var MyCommand = \"MN\" \n\n\nif (msg.button == \"BACK\" )  \n    MyCommand = \"MNMEN OFF\"\nelse\n    MyCommand = \"MNMEN ON\"\nreturn {topic: MyCommand,payload: \"\"}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":160,
      "wires":[
         [
            "12766499.fd9ebb",
            "20e3e7ea.3bbb8"
         ]
      ]
   },
   {
      "id":"e453d2af.1a38b",
      "type":"function",
      "z":"4cd6264a.5af948",
      "name":"Input",
      "func":"MySource=msg.button.slice(6,99)\nMySource = MySource.toLowerCase()\nvar MyCommand = \"\" \n\nif (MySource == \"tuner\") \n   MyCommand = \"SITUNER\"\nelse\nif (MySource == \"tv\") \n   MyCommand = \"SITV/CBL\"\n else\n if (MySource == \"phono\") \n   MyCommand = \"SIPHONO\"\n else\n if (MySource == \"cd\") \n   MyCommand = \"SICD\"\n else\n if (MySource == \"dvd\") \n   MyCommand = \"SIDVD\"\n else\n if (MySource == \"hdp\") \n   MyCommand = \"SIHDP\"\n else\n if (MySource == \"sat\") \n   MyCommand = \"SISAT\"\n else\n if (MySource == \"vcr\") \n   MyCommand = \"SIVCR\"\n else\n  if (MySource == \"dvr\") \n   MyCommand = \"SIDVR\"\n else\n  if (MySource == \"v.aux\") \n   MyCommand = \"SIV.AUX\"\n else\n  if (MySource == \"net\") \n   MyCommand = \"SINET\"\n else\n  if (MySource == \"xm\") \n   MyCommand = \"SIXM\"\n else\n  if (MySource == \"ipod\") \n   MyCommand = \"SIIPOD\"\n else\n   return null\n   \nreturn {payload: \"\", topic: MyCommand, mypart: MySource}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":280,
      "wires":[
         [
            "12766499.fd9ebb",
            "20e3e7ea.3bbb8"
         ]
      ]
   },
   {
      "id":"20e3e7ea.3bbb8",
      "type":"denon-out",
      "z":"4cd6264a.5af948",
      "name":"Denon in",
      "controller":"2092045d.79fbb4",
      "unit_number":"1",
      "output":"1",
      "denoncommand":"",
      "x":940,
      "y":400,
      "wires":[
         
      ]
   },
   {
      "id":"fb030723.0287d",
      "type":"denon-in",
      "z":"4cd6264a.5af948",
      "name":"Denon-out",
      "controller":"2092045d.79fbb4",
      "x":600,
      "y":560,
      "wires":[
         [
            "955a60a5.a799b"
         ]
      ]
   },
   {
      "id":"e0cc222b.6b7ee",
      "type":"function",
      "z":"4cd6264a.5af948",
      "name":"Surround",
      "func":"//var MyMode=msg.button.slice(7,99)\nvar MyButton = msg.button.split(\":\");\nvar MyMode = MyButton[1].toUpperCase()\nvar MyCommand = \"MS\"+MyMode \n\n\nreturn  {\n    \"topic\": MyCommand,payload: \"\"\n}\n\n\nreturn {payload: MyCommand\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":621,
      "y":322,
      "wires":[
         [
            "12766499.fd9ebb",
            "20e3e7ea.3bbb8"
         ]
      ]
   },
   {
      "id":"7f25a637.8d1158",
      "type":"function",
      "z":"4cd6264a.5af948",
      "name":"Preset",
      "func":"//var MyMode=msg.button.slice(7,99)\nvar MyButton = msg.button.split(\" \");\nvar MyMode = MyButton[1].toUpperCase()\nvar MyCommand = \"TPAN\"+MyMode \n\n\nreturn {payload: MyCommand\n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":610,
      "y":360,
      "wires":[
         [
            "12766499.fd9ebb",
            "20e3e7ea.3bbb8"
         ]
      ]
   },
   {
      "id":"920bfa37.0c7b9",
      "type":"mqtt-broker",
      "name":"Spare neeo brain",
      "broker":"127.0.0.1",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   },
   {
      "id":"2092045d.79fbb4",
      "type":"denon-controller",
      "name":"Denon-Living",
      "host":"192.168.0.28",
      "port":"23"
   }
]